.page {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fffcf9;
  text-align: center;
  &-header {
    text-align: center;
    color: #352d39;
  }

  &-title {
    text-align: center;
    color: #6d435a;
  }
}
